{% extends "master.html" %}
{% block title %}
    <h3>
        <a href="/product">Kembali</a>
    </h3>
    <h1>
        EDIT DATA
    </h1>
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <p> {{message}} </p>
        {% endfor %}
    {% endif %}
    <form action="" method = 'POST'>
        {% csrf_token %}
        <label for="kode_id">Kode ID</label>
        <br>
        <input type="text" name = "kode_id" id = "kode_id" value="{{data.kode_id}}" maxlength="50" size = "63" readonly>
        <br>
        <br>
        <label for="nama_barang">Nama Barang</label>
        <br>
        <input type="text" name = "nama_barang" id = "nama_barang" value="{{data.nama_barang}}" maxlength="50" size = "63" required>
        <br>
        <br>
        <label for="jenis">Jenis</label>
        <br>
        <select name="jenis">
            <option  value="Makanan" >Makanan</option>
            <option value="Minuman">Minuman</option>
            <option value="Electronic">Electronic</option>
        </select>
        <br>
        <br>
        <label for="outlet">Outlet</label>
        <br>
        <select name="outlet">
            <option value="{{data.outlet}}">Jakarta</option>
            <option value="Medan">Medan</option>
            <option value="Tebing Tinggi">Tebing Tinggi</option>
        </select>
        <br>
        <br>
        <label for="harga_modal">Harga Modal</label>
        <br>
        <input type="text" name = "harga_modal" id = "harga_modal" value="{{data.harga_modal}}" maxlength="50" size = "63" required>
        <br>
        <br>
        <label for="harga_jual">Harga Jual</label>
        <br>
        <input type="text" name = "harga_jual" id = "harga_jual" value="{{data.harga_jual}}" maxlength="50" size = "63" required>
        <br>
        <br>
        <label for="quantity">Stok Tersedia</label>
        <br>
        <input type="number" name = "quantity" id = "quantity" value="{{data.tersisa}}" maxlength="50" size = "63" required>
        <br>
        <br>
        <button type="submit">SIMPAN</button>
    </form>
{% endblock %}