{% extends 'master.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="all">
        <div class="judul-1">
            <h1>
                SETTING    
            </h1>
        </div>
        <div class="containersetting">
            <div class="settings-1">
                <div class="content-1">
                    <ul>
                        <li><a href="{% url 'ovr_set' %}""><b>Product Overview</b></a></li>
                        <li><a href="{% url 'ovr_set2' %}"><b>Cashier Overview</b></a></li>
                        <li><a href="{% url 'ovr_set1' %}"><b>Table Overview</b></a></li>
                        <li><a href="/"><b>Kembali</b></a></li>
                    </ul>
                </div>
            </div>
            <div class="settings-2">
                <div class="judul-2 ">
                    <div>
                        <h1>
                            Table Overview    
                        </h1>
                    </div>
                    <div class="tambah_data">
                        <form action="{% url 'tambah_meja' %}" method="post">
                            {% csrf_token %}
                            <input type="number" name="tambah_meja" id="tambah_meja" required>
                            <button type="submit">TAMBAH MEJA</button>
                        </form>
                        
                    </div>
                </div>
                <div class="read_table">
                    <ul>
                     {% for data in meja %}
                         <div class="overview">
                             <li> Table - {{data.no_table}} </li>
                         </div>
                     {% endfor %}
                    </ul>
                 </div>
            </div>
        </div>

    </div>  
{% endblock %}