{% extends 'master.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="all-5">
        <div class="judul-4">
            <div class="out">
                <a href="/"><h2><img src="{% static 'img/back2.svg' %}" alt="" width="75"></h2></a>
            </div>
            <div class="header_report">
                <h1>Dashboard</h1>
            </div>
            <div class="filter">
                <h1>
                    Filter
                </h1>
                <form action="{% url 'visualization' %}" method="GET">
                   <div class="bahan-1">
                        <input type="date" name="tanggal" id ="tanggal" value="{{tanggal}}"> 
                   </div>  
                    <div class="bahan-2">
                        <select name="nama_barang" id="nama_barang">
                            <option value="{{hasil_input}}"> {{hasil_input}} </option>
                            {% if hasil_input is True %}
                            <option value="{{hasil_input}}"> {{hasil_input}} </option>
                                {% else %}
                                    <option value=""> All </option>
                            {% endif %}

                            <option value=" ">All</option>
                            {% for i in nama_barang %}
                                <option id="hasil"  value="{{i.nama_barang}}"> {{i.nama_barang}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="bahan-3">
                        <button type="submit">Reset</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="figure">
            <div class="dashboard">
                <div class="revenue">
                     <h2>
                         Revenue
                     </h2>
                     <h2>
                        Rp. {{revenue}}
                     </h2>
                </div>
                <div class="Quantity">
                     <h2>
                         Quantity
                     </h2>
                     <h2>
                        {{quantity}}
                     </h2>
                </div>
                <div class="count">
                     <h2>
                         Count Of Transaction
                     </h2>
                     <h2>
                        {{count}}
                     </h2>
                </div>
             </div>
             <div class="table-report">
                <table>
                  <thead>
                    <tr>
                      <th>ID TRANSAKSI</th>
                      <th>KODE BARANG</th>
                      <th onclick="SortTable(0)">TANGGAL</th>
                      <th>NAMA BARANG</th>
                      <th>HARGA JUAL</th>
                      <th>QUANTITY</th>
                      <th>TOTAL HARGA</th>
                      <th>NO MEJA</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in data %}
                    <tr>
                      <td>{{i.transaction_id}}</td>
                      <td>{{i.kode_barang}}</td>
                      <td>{{i.tanggal}}</td>
                      <td>{{i.nama_barang}}</td>
                      <td>Rp. {{i.harga_jual}}</td>
                      <td>{{i.quantity}}</td>
                      <td>Rp. {{i.total_harga}}</td>
                      <td>{{i.no_table}}</td>
                    </tr>
                    {% empty %}
                        <p>Data Tidak Ditemukan, Terima Kasih..</p>
                    {% endfor %}
                    <!-- tambahkan baris tambahan di sini jika perlu -->
                  </tbody>
                </table>
              </div>
        </div>
        
        
    </div>
   
{% endblock %}