{% extends "master.html" %}
{% block title %}
    <h3>
        <a href="/product">Kembali</a>
    </h3>
    <h1>
        TAMBAH DATA
    </h1>
{% endblock %}
{% block content %}
    <form action="" method = 'POST'>
        {% csrf_token %}
        <input type="text" name = "kode_id" id = "kode_id" maxlength="50" size = "63" value="{{user.id}}{{waktu}}{{tahun}}{{random}}" required readonly hidden>
        <label for="nama_barang">Nama Barang</label>
        <br>
        <input type="text" name = "nama_barang" id = "nama_barang" maxlength="50" size = "63" required>
        <br>
        <br>
        <label for="jenis">Jenis</label>
        <br>
        <select name="jenis">
            <option  value="Makanan" >Makanan</option>
            <option value="Minuman">Minuman</option>
            <option value="Electronic">Electronic</option>
        </select>
        <br>
        <br>
        <label for="outlet">Outlet</label>
        <br>
        <select name="outlet">
            <option value="Jakarta">Jakarta</option>
            <option value="Medan">Medan</option>
            <option value="Tebing Tinggi">Tebing Tinggi</option>
        </select>
        <br>
        <br>
        <label for="harga_modal">Harga Modal</label>
        <br>
        <input type="text" name = "harga_modal" id = "harga_modal" maxlength="50" size = "63" required>
        <br>
        <br>
        <label for="harga_jual">Harga Jual</label>
        <br>
        <input type="text" name = "harga_jual" id = "harga_jual" maxlength="50" size = "63" required>
        <br>
        <br>
        <label for="quantity">Stok Tersedia</label>
        <br>
        <input type="number" name = "quantity" id = "quantity" maxlength="50" size = "63" required>
        <br>
        <br>
        <button type="submit">SIMPAN</button>
    </form>
{% endblock %}