{% extends "master.html" %}
{% load static %}

{% block title %}
    
{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1>WELCOME TO mariPOS</h1>
        </div>
        <div class="menu">
            <ul>
                <li id="active"> <a  href=""><b>Login</b></a></li>
                <li><a href="{% url 'question' %}"><b>Register</b></a></li>
                <li><a href="https://wa.me/6287746044303" target="_blank"><b>Contact</b></a></li>
                <li><a href=""><b>About US</b></a></li>
            </ul>
            
        </div>
        <div class="container2">
            <div class="form">
                {% if messages %}
                    {% for message in messages %}
                        <p> {{message}} </p>
                    {% endfor %}
                 {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="username"><b>Username</b></label>
                    <br>
                    <input  type="text" name="username" id = "username size="50" placeholder="Enter Your Username">
                    <br>
                    <br>
                    <label for="password"><b>Password</b></label>
                    <br>
                    <input type="password" name="password" id = "password" size="50" placeholder="Enter Your Password">
                    <br>
                    <br>
                    <button type="submit"><b>Login</b></button>
                </form>
            </div>
            <div class="images">
                <img src="{% static 'img/picture.svg' %}" alt="logo" width="1000">
            </div>  
        </div>
        <p id="footer">&copy; Sadewo Widyanto's Portfolio 2024</p>
    </div>

    
{% endblock %}